In [3]:
# Import necessary libraries
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [4]:
import pandas as pd

# Load dataset
df = pd.read_csv('H:\\Kaggle-Data-Analysis\\train_and_test2.csv')

In [5]:
if 'column_name' in df.columns:
    df['column_name'] = df['column_name'].fillna(df['column_name'].mean())

In [6]:
if 'int_column' in df.columns:
    df['int_column'] = df['int_column'].astype('int')

In [7]:
if 'numerical_column' in df.columns:
    z_scores = stats.zscore(df[['numerical_column']])
    df = df[(np.abs(z_scores) < 3).all(axis=1)]

In [8]:
if 'numerical_column' in df.columns:
    df[['scaled_column']] = scaler.fit_transform(df[['numerical_column']])

In [9]:
if 'categorical_column' in df.columns:
    df_encoded = pd.get_dummies(df, columns=['categorical_column'])
else:
    print("The 'categorical_column' does not exist in the dataframe.")

The 'categorical_column' does not exist in the dataframe.

In [10]:
# Display the first few rows of the cleaned and processed dataframe
df.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [18]:
import matplotlib.pyplot as plt

# Distribution of Age
df['Age'].hist(bins=30)
plt.title('Distribution of Age')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

# Distribution of Fare
df['Fare'].hist(bins=30)
plt.title('Distribution of Fare')
plt.xlabel('Fare')
plt.ylabel('Frequency')
plt.show()

# Distribution of Pclass
df['Pclass'].value_counts().plot(kind='bar')
plt.title('Distribution of Passenger Class (Pclass)')
plt.xlabel('Pclass')
plt.ylabel('Count')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'